global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    environment: 'production'
    project:     'monitoring-logging'

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - '/etc/prometheus/rules/*.yml'

scrape_configs:

  # Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Host system metrics
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # Sample Flask app
  - job_name: 'sample-app'
    metrics_path: '/metrics'
    scrape_interval: 10s
    static_configs:
      - targets: ['sample-app:8000']

  # Alertmanager itself
  - job_name: 'alertmanager'
    static_configs:
      - targets: ['alertmanager:9093']
